body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

.message {
    background: lightblue;
    padding: 1em;
    border-radius: 5px;
    width: 75%;
    margin: 1em;
}

.message-info {
    color: #4C46A2;
    background: #D0DDFC;
}

.message-success {
    color: #5F9F73;
    background: #D6F2DC;
}

.message-warning {
    color: #A89D56;
    background: #FBFCCE;
}

.message-error {
    color: #954D5B;
    background: #F4D4D7;
}

/*when using the color tool on my mac, the color showing up on the page is not the same color that im putting into css*/