.bg-light {
    background-color: #E6E6E6;
}
.header{
    text-align: center;
}

.img-project{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
    margin-right: 1em;
    margin-top: 1em;
}

.icon-large{
    border-radius: 50%;
    border-style: solid;
    border-width: 10px;
    height: 105px;
    width: 105px;
    border-color: white;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    margin-left:5px;
    margin-right: 5px;
    color: white;
}
.icon-small{
    height: 18px;
    width: 18px;
    border-radius: 50%;
    font-family: Anton, sans-serif;
    text-align: center;
    font-size: 12px;
    color: black;
    padding-left: 5px;
    padding-bottom: 10px;
    margin: 2px;
}

.red-circle {
    background: #E6563B
}
.orange-circle{
    background: #EB9D3A;
}
.green-circle{
    background: #7CB06C;
}
.turquoise-circle{
    background: #00ABA9;
}
.wrapper{
    margin: 1px;
}
.center{
    text-align: center;
}
.side-bar{
    margin-bottom: 2em;
}
.nav-title{
    margin-right: 1em;
}
.abel{
    font-family: 'Abel' sans-serif;
}
.anton{
    font-family: 'Anton' sans-serif;
}